<div class="border comments">
    <% if post.comments.any? %>
        <h2>Comments</h2>
        <% post.comments.each do |comment| %>
            <div>
                <p>
                    ➡️ #<%= comment.id %> by <%= comment.author.name %>: <%= comment.text %>
                </p>

          <% if can? :destory, comment%>
            <%= button_to "Delete 🗑️", user_post_comment_path(comment.author_id, comment.post_id, comment.id), method: :delete, class: "btn btn-danger" %>
          <% end %>
            </div>
        <% end %>
    <% else %>
        <p>No comments yet.</p>
    <% end %>
</div>
