<div class="border comments">
    <% if post.comments.any? %>
        <h2>Comments</h2>
        <% post.comments.each do |comment| %>
            <div>
                <p>
                    ➡️ #<%= comment.id %> by <%= comment.author.name %>: <%= comment.text %>
                </p>
                <% if can? :destroy, comment %>
                    <%= link_to user_post_path(comment.post.author_id, comment.post.id), method: :delete do %>
                        <button class="btn btn-danger">Delete Comment</button>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    <% else %>
        <p>No comments yet.</p>
    <% end %>
</div>
